<log4net>
  <!--
  This writes the log information to the console window.  It only logs events
  that are at least at the INFO level (which would mean that DEBUG events are not
  captured.
  -->
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception"/>
    </layout>
  </appender>
  
  <!--
  This stores information in the logfile.txt file.  It only captures log events
  that contain the key word test or error.
  -->
  <appender name="UtcRollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="c:/Wise40/Logs/{yyyy-mm-dd}/{AppName}.txt" />
    <rollingStyle value="Date" />
    <rollPoint value="TopOfDay" />
    <datePattern value="yyyy-MM-dd"/>
    <PreserveLogFileNameExtension value="true" />
    <staticLogFileName value="false"/>
    <appendToFile value="true" />
    <dateTimeStrategy type="log4net.Appender.RollingFileAppender+UniversalDateTime" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate{ABSOLUTE} UTC %c{1} - %m%n" />
    </layout>
  </appender>
  
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="ConsoleAppender"/>
    <appender-ref ref="TraceAppender"/>
    <appender-ref ref="UtcRollingFile"/>
  </root>
</log4net>